{% extends "logged-base.twig" %}

{% block title %}Create Event{% endblock %}

{% block content %}

<h3>Create Event</h3>
<p>Creates an event in Meetup.com as well as an Event and Talk in Joind.In</p>

<div class="section-container tabs" data-section>
    <section class="section">
        <h5 class="title"><a href="#panel1">Talk information</a></h5>
        <div class="content" data-slug="panel1">
            <form id="frm_event" method="post">

                <div class="row collapse">
                    <div class="large-2 columns">
                        <label class="inline">Sponsor</label>
                    </div>
                    <div class="large-5 columns">
                        <select id="supporters" name="supporter">
                            <option value="0">-- Select --</option>
                            {% for supporter in supporters %}
                                <option value="{{ supporter.id }}">{{ supporter.name }} ({{ supporter.twitter }})</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="large-2 columns"></div>
                </div>

                <div class="row collapse">
                    <div class="large-2 columns">
                        <label class="inline">Speaker</label>
                    </div>
                    <div class="large-5 columns">
                        <select id="speakers" name="speaker">
                            <option value="0">-- Select --</option>
                            <option value="-1">Create speaker</option>
                            {% for speaker in speakers %}
                                <option value="{{ speaker.id }}">{{ speaker.firstName }} {{ speaker.lastName }} ({{ speaker.twitter }})</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="large-2 columns"></div>
                </div>

                <div class="row collapse">
                    <div class="large-2 columns">
                        <label class="inline">Venue</label>
                    </div>
                    <div class="large-5 columns">
                        <select id="venues" name="venue">
                            <option value="0">-- Select --</option>
                            {% for venue in venues %}
                                <option value="{{ venue.id }}">{{ venue.name }} - {{ venue.address }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="large-2 columns"></div>
                </div>

                <div class="row collapse">
                    <div class="large-2 columns">
                        <label class="inline">Date</label>
                    </div>
                    <div class="large-5 columns">
                        <input placeholder="Date" name="start_date" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date">
                    </div>
                    <div class="large-2 columns"></div>
                </div>

                <div class="row collapse">
                    <div class="large-2 columns">
                        <label class="inline">Start time</label>
                    </div>
                    <div class="large-2 columns">
                        <select id="time.hour" name="start_time" name="time.hour">
                            {% for i in 8..22 %}
                                <option value="{{ i }}:00">{{ i }}:00</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="large-5 columns"></div>
                </div>

                <div class="row collapse">
                    <div class="large-2 columns">
                        <label class="inline">Talk Title</label>
                    </div>
                    <div class="large-10 columns">
                        <input type="text" id="talk_title" name="talk_title" placeholder="Talk title">
                    </div>
                </div>

                <div class="row collapse">
                    <label>Talk description / Abstract</label>
                    <textarea name="talk_description" id="talk_description" rows="4"></textarea>
                </div>
                <button type="submit" class="radius button">Submit</button>
            </form>
        </div>
    </section>
</div>

{% endblock %}

{% block right_column %}
    <div id="new_speaker" class="hide">
        <h4>Create new speaker</h4>
        <form id="frm_speaker">
            <input type="hidden" value="{{ name }}" name="{{ nameKey }}">
            <input type="hidden" value="{{ value }}" name="{{ valueKey }}">
            <div class="row collapse">
                <div class="column">
                    <input type="text" name="first_name" id="first_name" placeholder="First name" data-tooltip class="has-tip" title="The speaker's first name.">
                </div>
            </div>

            <div class="row collapse">
                <div class="column">
                    <input type="text" name="last_name" id="last_name" placeholder="Last name" data-tooltip class="has-tip" title="The speaker's last name.">
                </div>
            </div>

            <div class="row collapse">
                <div class="column">
                    <input type="email" name="email" id="email" placeholder="Email" data-tooltip class="has-tip" title="The speaker's email.">
                </div>
            </div>

            <div class="row collapse">
                <div class="column">
                    <input type="text" name="twitter" id="twitter" placeholder="@Twitter" data-tooltip class="has-tip" title="The speaker's Twitter handle.">
                </div>
            </div>

            <button type="submit" class="radius button">Create</button>
        </form>

    </div>
{% endblock %}

{% block scripts %}
<script>
    $( document ).ready(function() {
        var newSpeaker = $('#new_speaker'),
            speakersDropdown = $('#speakers');

        speakersDropdown.change(function(){

            if ($(this).val() == -1) {
                    newSpeaker.addClass('show');
                    newSpeaker.removeClass('hide');
            }
        });

        // Add speaker and update the Speaker's dropdown with this speaker selected
        $('#frm_speaker').submit(function(event){
            event.preventDefault();

            var speakerForm = $('#frm_speaker'),
                firstName = speakerForm.find('#first_name').val(),
                lastName = speakerForm.find('#last_name').val(),
                email = speakerForm.find('#email').val(),
                twitter = speakerForm.find('#twitter').val(),
                speakerID = null;


            // do AJAX call
            var post = $.post(
                    "/create-speaker",
                    speakerForm.serialize()
            );

            post.done(function(data){
                console.log(data);

                if (data.error) {
                    // handle errors
                    // show messages to the user
                    console.log(data.error);
                } else {

                    speakerID = data.id;

                    // hide form
                    newSpeaker.addClass('hide');

                    // update dropdown
                    speakersDropdown.append('<option selected value="'+ speakerID +'">' + firstName + ' ' + lastName + ' (' + twitter + ')</option>');
                }
            });


        });
    });
</script>
{% endblock %}