{% extends "logged-base.twig" %}

{% block title %}Create Event{% endblock %}

{% block content %}

<h3>Create Event</h3>
    <p>Create a meetup.com and a joind.in event. Joind.in talks are created automatically once the event has been approved by an admin.</p>

<div class="section-container tabs" data-section>
    <section class="section">
        {% if errors|length %}
            <div data-alert class="alert-box alert round">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>

                <a href="#" class="close">&times;</a>
            </div>
        {% endif %}
        <h5 class="title"><a href="#panel1">Talk information</a></h5>

        <div class="content" data-slug="panel1">

            <div class="row collapse">
                <div class="large-2 columns">
                    <label class="inline">Talk Title</label>
                </div>
                <div class="large-10 medium-5 columns">
                    {{ form.getTalkTitle() }}
                </div>
            </div>

            <form id="frm_event" method="post">

                <div class="row collapse">
                    <div class="large-2 columns">
                        <label class="inline">Sponsor</label>
                    </div>
                    <div class="large-5 medium-4 columns">
                        <select id="supporters" name="supporter">
                            <option value="0">-- Select --</option>
                            {% for supporter in form.getSupporters %}
                                <option {% if form.getSupporter().getId() == supporter.id %}selected{% endif %} value="{{ supporter.id }}">{{ supporter.name }} ({{ supporter.twitter }})</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="large-2 columns"></div>
                </div>

                <div class="row collapse">
                    <div class="large-2 columns">
                        <label class="inline">Speaker</label>
                    </div>
                    <div class="large-5 medium-4 columns">
                        <select id="speakers" name="speaker">
                            <option value="0">-- Select --</option>
                            <option value="-1">Create speaker</option>
                            {% for speaker in form.getSpeakers %}
                                <option {% if form.getSpeaker().getId() == speaker.id %}selected{% endif %} value="{{ speaker.id }}">{{ speaker.firstName }} {{ speaker.lastName }} ({{ speaker.twitter }})</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="large-2 columns"></div>
                </div>

                <button type="submit" class="radius button">Create</button>
            </form>
        </div>
    </section>
</div>

{% endblock %}

{% block right_column %}
    <div id="new_speaker" class="hide">
        <h4>Create new speaker</h4>
        <form id="frm_speaker">
            <input type="hidden" value="{{ name }}" name="{{ nameKey }}">
            <input type="hidden" value="{{ value }}" name="{{ valueKey }}">
            <div class="row collapse">
                <div class="column">
                    <input type="text" name="first_name" id="first_name" placeholder="First name" data-tooltip class="has-tip" title="The speaker's first name.">
                </div>
            </div>

            <div class="row collapse">
                <div class="column">
                    <input type="text" name="last_name" id="last_name" placeholder="Last name" data-tooltip class="has-tip" title="The speaker's last name.">
                </div>
            </div>

            <div class="row collapse">
                <div class="column">
                    <input type="email" name="email" id="email" placeholder="Email" data-tooltip class="has-tip" title="The speaker's email.">
                </div>
            </div>

            <div class="row collapse">
                <div class="column">
                    <input type="text" name="twitter" id="twitter" placeholder="@Twitter" data-tooltip class="has-tip" title="The speaker's Twitter handle.">
                </div>
            </div>

            <button type="submit" class="radius button">Create</button>
        </form>

    </div>
{% endblock %}

{% block scripts %}
<script nonce="{{ nonce }}">

    $(document).ready(function() {
        var speakersDropdown = $('#speakers'),
            newSpeaker = $('#new_speaker');

        speakersDropdown.on('change click', function(){

            if ($(this).val() === "-1") {
                newSpeaker.show();
            }
        });

        // Add speaker and update the Speaker's dropdown with this speaker selected
        $('#frm_speaker').on('submit', function(event){
            event.preventDefault();
console.log('submitting...')
            var speakerForm = $('#frm_speaker'),
                firstName = speakerForm.find('#first_name').val(),
                lastName = speakerForm.find('#last_name').val(),
                twitter = speakerForm.find('#twitter').val();


            // do AJAX call
            var post = $.post(
                    "/create-speaker",
                    speakerForm.serialize()
            );

            post.done(function(data){

                if (data.error) {
                    // handle errors
                    // show messages to the user
console.log('error', data.error);
                } else {

                    var speakerID = data.id;

                    // hide form
                    newSpeaker.hide();

                    // update dropdown
                    speakersDropdown.append('<option selected value="'+ speakerID +'">' + firstName + ' ' + lastName + ' (' + twitter + ')</option>');
console.log('should have appended the new speaker.');
                }
            });


        });
    });
</script>
{% endblock %}