{% extends "logged-base.twig" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h3>Dashboard</h3>

    <h4>Events</h4>
    <div class="section-container tabs" data-section>
        {% if has_token == false %}
            <section class="section">
                <div data-alert class="alert-box warning round">
                    Joindin Token not found. <a href="{{ joindin_callback }}">Click to generate</a>
                    <a href="#" class="close">&times;</a>
                </div>
            </section>
        {% endif %}

        <section class="section">
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Speaker</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.getDateTimeAsString }}</td>
                        <td><a href="/event-details/{{ event.getMeetupID  }}">{{ event.getTalk().getTitle() }}</a></td>
                        <td>{{ event.getTalk().getSpeaker().getFirstName() }} {{ event.getTalk().getSpeaker().getLastName() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

{% endblock %}