{% extends "logged-base.twig" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h3>Dashboard</h3>

    <h4>Events</h4>
    <div class="section-container tabs" data-section>
        <section class="section">
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Speaker</th>
                    <th>JoindIn</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.date }}</td>
                        <td><a href="{{ event.event_url  }}" target="_blank">{{ event.subject }}</a></td>
                        <td>{{ event.speaker }}</td>
                        <td><a href="{{ event.joindin_url }}" target="_blank">Go to Joindin talk</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

{% endblock %}