{% extends "logged-base.twig" %}

{% block title %}Event Details{% endblock %}

{% block content %}

    <h3>Event Details</h3>

    <div class="section-container tabs" data-section>
        <section class="section">
            {% if errors|length %}
                <div data-alert class="alert-box alert round">
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>

                    <a href="#" class="close">&times;</a>
                </div>
            {% endif %}

            {% if meetup_event %}
            <h5 class="title"><a href="#panel1">{{ meetup_event.subject }}</a></h5>
            <div class="content" data-slug="panel1">

                <h4>This event has been scheduled for {{ meetup_event.getDateTimeAsString }}</h4>

                <p>The event on meetup can be found at: <a href="{{ meetup_event.getMeetupURL }}" target="_blank">{{ meetup_event.getMeetupURL }}</a></p>

                {% if not event_info.joindin_url %}
                <p>A joind.in talk was not found. <a href="/create-event?meetup_id={{ meetup_event.getMeetupID }}">Create one</a></p>
                {% elseif not event_info.joindin_talk_id %}
                <p>Joind.in Talk [Pending]</p>
                {% else %}
                <p>A talk has also been created on Joind.in and can be found at: <a href="{{ event_info.joindin_url }}" target="_blank">{{ event_info.joindin_url  }}</a></p>
                {% endif %}

                <p>It will be held at: <a href="https://maps.google.com/?q={{ meetup_event.getVenue().getAddress() }}" target="_blank">{{ meetup_event.getVenue().getAddress() }}</a></p>
            </div>
            {% endif %}

        </section>
    </div>

{% endblock %}

{% block right_column %}

{% endblock %}

{% block scripts %}
    <script>
        $( document ).ready(function() {

        });
    </script>
{% endblock %}